.card {
  align-items: center;
  background-color: #efefef;
  column-gap: 20px;
  display: flex;
  height: 80px;
  margin: 30px;
  border-radius: 10px;
  border: 2px solid rgb(109, 109, 109);
}

button {
  background: rgb(177, 177, 177);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  margin-right: 30px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}

.name {
  color: rgb(83, 83, 83);
  font-size: 16px;
}

.portionSize {
  color: rgb(83, 83, 83);
  flex-grow: 2;
  font-size: 20px;
  text-align: end;
}

img {
  height: 100%;
  object-fit: cover;
  width: 25%;
  border-radius: 10px;
}
